.docIcon {
    float: left;
    width: 60px !important;
    height: 60px !important;
    margin-left: 10px !important;
    position: static;
}

.tasks {
    margin-top: 40px;
}

.task {
    margin: 10px 5px 10px 5px !important;
    padding: 5px !important;
}